<header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="../index.html">
            <img src="../assets/images/color_big.png" alt="ТК Динамика" style="height: 45px; width: auto;" class="me-3">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Главная</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Услуги
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" href="../pages/intercity.html">ГРУЗОПЕРЕВОЗКИ МЕЖГОРОД</a></li>
                        <li><a class="dropdown-item" href="../pages/truck.html">ГРУЗОПЕРЕВОЗКИ ФУРА</a></li>
                        <li><a class="dropdown-item" href="../pages/long-trailer.html">ГРУЗОПЕРЕВОЗКИ ДЛИННОМЕР ШАЛАНДА</a></li>
                        <li><a class="dropdown-item" href="../pages/partial.html">ГРУЗОПЕРЕВОЗКИ ДОГРУЗ ПОПУТНО</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex flex-column text-end small">
                <a href="tel:89874165187" class="text-decoration-none fw-bold text-primary">8-987-416-51-87</a>
                <span class="text-muted">9:00-18:00 МСК</span>
            </div>
        </div>
    </div>
</header>