<header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/assets/images/color_big.png" alt="ТК Динамика" style="height: 54px; width: auto;" class="me-3">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="clientsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Клиенты
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="clientsDropdown">
                        <li><a class="dropdown-item" href="/clients/">Список клиентов</a></li>
                        <li><a class="dropdown-item" href="/clients-map/">География клиентов</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="regionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Регионы
                    </a>
                    <ul class="dropdown-menu dropdown-menu-regions" aria-labelledby="regionsDropdown">
                        <li><a class="dropdown-item" href="/regions/">Все регионы</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/regions/balashikha/">Балашиха</a></li>
                        <li><a class="dropdown-item" href="/regions/voskresensk/">Воскресенск</a></li>
                        <li><a class="dropdown-item" href="/regions/dzerzhinsky/">Дзержинский</a></li>
                        <li><a class="dropdown-item" href="/regions/dmitrov/">Дмитров</a></li>
                        <li><a class="dropdown-item" href="/regions/dolgoprudny/">Долгопрудный</a></li>
                        <li><a class="dropdown-item" href="/regions/domodedovo/">Домодедово</a></li>
                        <li><a class="dropdown-item" href="/regions/dubna/">Дубна</a></li>
                        <li><a class="dropdown-item" href="/regions/egoryevsk/">Егорьевск</a></li>
                        <li><a class="dropdown-item" href="/regions/ekaterinburg/">Екатеринбург</a></li>
                        <li><a class="dropdown-item" href="/regions/zhukovsky/">Жуковский</a></li>
                        <li><a class="dropdown-item" href="/regions/ivanteyevka/">Ивантеевка</a></li>
                        <li><a class="dropdown-item" href="/regions/izhevsk/">Ижевск</a></li>
                        <li><a class="dropdown-item" href="/regions/kazan/">Казань</a></li>
                        <li><a class="dropdown-item" href="/regions/kaluga/">Калуга</a></li>
                        <li><a class="dropdown-item" href="/regions/klin/">Клин</a></li>
                        <li><a class="dropdown-item" href="/regions/kolomna/">Коломна</a></li>
                        <li><a class="dropdown-item" href="/regions/korolev/">Королёв</a></li>
                        <li><a class="dropdown-item" href="/regions/krasnogorsk/">Красногорск</a></li>
                        <li><a class="dropdown-item" href="/regions/lobnya/">Лобня</a></li>
                        <li><a class="dropdown-item" href="/regions/lyubertsy/">Люберцы</a></li>
                        <li><a class="dropdown-item" href="/regions/moskva/">Москва</a></li>
                        <li><a class="dropdown-item" href="/regions/mytishchi/">Мытищи</a></li>
                        <li><a class="dropdown-item" href="/regions/naberezhnye-chelny/">Набережные Челны</a></li>
                        <li><a class="dropdown-item" href="/regions/nizhnekamsk/">Нижнекамск</a></li>
                        <li><a class="dropdown-item" href="/regions/nizhny-novgorod/">Нижний Новгород</a></li>
                        <li><a class="dropdown-item" href="/regions/noginsk/">Ногинск</a></li>
                        <li><a class="dropdown-item" href="/regions/obninsk/">Обнинск</a></li>
                        <li><a class="dropdown-item" href="/regions/odintsovo/">Одинцово</a></li>
                        <li><a class="dropdown-item" href="/regions/orekhovo-zuevo/">Орехово-Зуево</a></li>
                        <li><a class="dropdown-item" href="/regions/perm/">Пермь</a></li>
                        <li><a class="dropdown-item" href="/regions/podolsk/">Подольск</a></li>
                        <li><a class="dropdown-item" href="/regions/pushkino/">Пушкино</a></li>
                        <li><a class="dropdown-item" href="/regions/ramenskoe/">Раменское</a></li>
                        <li><a class="dropdown-item" href="/regions/reutov/">Реутов</a></li>
                        <li><a class="dropdown-item" href="/regions/samara/">Самара</a></li>
                        <li><a class="dropdown-item" href="/regions/saint-petersburg/">Санкт-Петербург</a></li>
                        <li><a class="dropdown-item" href="/regions/sergiev-posad/">Сергиев Посад</a></li>
                        <li><a class="dropdown-item" href="/regions/serpukhov/">Серпухов</a></li>
                        <li><a class="dropdown-item" href="/regions/tver/">Тверь</a></li>
                        <li><a class="dropdown-item" href="/regions/tula/">Тула</a></li>
                        <li><a class="dropdown-item" href="/regions/ufa/">Уфа</a></li>
                        <li><a class="dropdown-item" href="/regions/fryazino/">Фрязино</a></li>
                        <li><a class="dropdown-item" href="/regions/khimki/">Химки</a></li>
                        <li><a class="dropdown-item" href="/regions/chelyabinsk/">Челябинск</a></li>
                        <li><a class="dropdown-item" href="/regions/chekhov/">Чехов</a></li>
                        <li><a class="dropdown-item" href="/regions/shchelkovo/">Щёлково</a></li>
                        <li><a class="dropdown-item" href="/regions/elektrostal/">Электросталь</a></li>
                        <li><a class="dropdown-item" href="/regions/yaroslavl/">Ярославль</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio/">Выполненные работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq/">Ответы на вопросы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts/">Контакты</a>
                </li>
            </ul>
            <div class="d-flex flex-column align-items-center justify-content-center d-md-none w-100 mt-3 gap-2">
                <a href="tel:88007072936" class="btn btn-primary btn-sm px-4">Позвонить</a>
                <button type="button" class="btn btn-danger btn-sm px-4" data-bs-toggle="modal" data-bs-target="#mobileCallbackModal">Заполнить заявку</button>
            </div>
        </div>
    </div>
</header>